<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empleados</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.png">
    <link rel="stylesheet" href="../css/empleados.css" />
  </head>
  <body class="body d_flex f_d_column" onload="getData()">
    <%- include("../templates/Header") %>
    <main class="main d_flex">
      <%- include("../templates/Menu") %>
      <div class="seccion-empleados d-flex f_d_column a_i_center">
        <div class="busqueda_container b_radius d-flex a_i_center">
          <select name="cargo" id="cargo" class="cargo-container">
            <option value="00000" hidden selected>
              Seleccione un cargo para filtrar
            </option>
          </select>
          <input
            type="text"
            name="empleado"
            id="empleado"
            class="input-empleado"
            placeholder="Digite el nombre del empleado"
          />
          <i class="fas fa-search icono-buscar"></i>
        </div>
        <div class="empleados-container b_radius">
          <table class="tabla-empleados">
            <thead>
              <tr class="fila-titulos">
                <td class="titulo-tabla">Imagen</td>
                <td class="titulo-tabla">Id</td>
                <td class="titulo-tabla">Nombre</td>
                <td class="titulo-tabla">Cargo</td>
                <td class="titulo-tabla">Departamento</td>
                <td class="titulo-tabla">
                  Opciones
                  <i class="fas fa-info-circle"></i>
                </td>
              </tr>
            </thead>
            <tbody id="tbody"></tbody>
          </table>
        </div>
      </div>
    </main>
    <!-- Modal -->
    <%- include("../templates/Modal") %>
    <div
      class="modal fade"
      id="cambiar-cargo"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cambiar cargo</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modal-body">
            <div id="id_title"></div>
            <form>
              <select
                class="form-select"
                aria-label="Default select example"
                id="select-cargo"
              >
                <option value="00000" selected>Seleccione un cargo</option>
              </select>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              id="btn_cambiar_cargo"
              onclick="cambiarCargo()"
            >
              Cambiar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal departamento -->
    <div
      class="modal fade"
      id="cambiar-departamento"
      tabindex="-1"
      aria-labelledby="modalDepartamentoLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDepartamentoLabel">
              Cambiar departamento
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modal-body">
            <div id="id_title_departamento"></div>
            <form>
              <select
                class="form-select"
                aria-label="Default select example"
                id="select-departamento"
              >
                <option value="00000" selected>
                  Seleccione un departamento
                </option>
              </select>
            </form>
          </div>
          <div class="modal-footer modal-footer-departamento">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              id="btn_cambiar_departamento"
              onclick="cambiarDepartamento()"
            >
              Cambiar
            </button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../js/empleados.js"></script>
  </body>
</html>
