<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
    <link rel="stylesheet" href="../css/usuarios.css" />
  </head>
  <body
    class="body d_flex f_d_column"
    onload="setData();"
  >
    <%- include("../templates/Header") %>
    <main class="main d_flex">
      <%- include("../templates/Menu") %>
      <div class="seccion_usuarios d_flex">
        <div
          class="registrar_usuarios_container b_radius d_flex f_d_column a_i_center"
        >
          <p class="titulo_container titulo_1">Registrar nuevos usuarios</p>
          <form
            action=""
            autocomplete="off"
            class="usuarios_form d_flex f_d_column a_i_center b_radius"
          >
            <div class="info_personal_container d_flex">
              <div class="nombre_container d_flex f_d_column">
                <span class="txt_nombre txt_form">Nombre</span>
                <input
                  type="text"
                  name="nombre"
                  id="nombre"
                  class="diseño_input b_radius"
                />
              </div>
              <div class="apellido_container d_flex f_d_column">
                <span class="txt_apellido txt_form">Apellido</span>
                <input
                  type="text"
                  name="apellido"
                  id="apellido"
                  class="diseño_input b_radius"
                />
              </div>
            </div>
            <span class="txt_form">Usuario</span>
            <input
              type="text"
              name="usuario"
              id="usuario"
              class="diseño_input b_radius"
              onclick="formatearUsuario()"
            />
            <span class="txt_form">Contraseña</span>
            <input
              type="password"
              name="contraseña_1"
              id="contraseña_1"
              class="diseño_input b_radius"
            />
            <span class="txt_form">Repita la contraseña</span>
            <input
              type="password"
              name="contraseña_2"
              id="contraseña_2"
              class="diseño_input b_radius"
            />
            <span class="txt_form">Permisos:</span>
            <label class="lbl_permisos d-flex">
              <input type="checkbox" name="permisos" id="permisos" />
              <span class="txt_permisos">Administrador</span>
            </label>
            <div class="btns_container">
              <button
                type="button"
                class="diseño_input input_registrar b_radius txt_form"
                id="input_registrar"
                onclick="crearUsuario(01)"
              >
                Registrar
              </button>
              <button
                type="button"
                class="diseño_input input_registrar b_radius txt_form"
                id="input_actualizar"
                id_usuario="00000"
                onclick="crearUsuario(02)"
              >
                Actualizar
              </button>
            </div>
          </form>
        </div>
        <div class="usuarios_registrados_container b_radius">
          <p class="titulo_container titulo_2">Usuarios registrados</p>
          <input
            type="search"
            name="buscar"
            id="buscar"
            placeholder="Digite el id o nombre del usuario a buscar"
            class="b_radius"
          />
          <div class="empleados-table-container b_radius">
            <div class="empleados-container b_radius">
              <table class="tabla-usuarios b_radius">
                <thead class="fila-titulos">
                  <td class="titulo-tabla">Imagen</td>
                  <td class="titulo-tabla">Id</td>
                  <td class="titulo-tabla">Usuario</td>
                  <td class="titulo-tabla">Permisos</td>
                  <td class="titulo-tabla popup-button">
                    Opciones
                    <i class="fas fa-info-circle"></i>
                    <div class="popup">
                      <i class="fas fa-pen"> Editar usuario </i>
                      <i class="fas fa-toggle-on"> Usuario activo </i>
                      <i class="fas fa-toggle-off"> Usuario inactivo </i>
                    </div>
                  </td>
                </thead>
                <tbody id="tbody">
                  <!-- <tr class="fila-w"> Colorear fila blanca -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="../js/scripts.js"></script>
    <script>
      function setData() {
        soloLectura();
        cargarUsuarios();
      }
      cargarUsuarios();
      function cargarUsuarios() {
        let url = "/post-users";
        let json = JSON.stringify({ accion: "cargar_usuarios" });
        fetch(url, {
          method: "POST",
          headers: { "content-type": "application/json" },
          body: json,
        })
          .then((res) => res.json())
          .then((data) => {
            //console.log(data);
            if (data.length >= 1) {
              const tbody = document.getElementById("tbody");
              for (var i = 0; i < data.length; i++) {
                let color_tr = "";
                let btn_estado = "";
                if (data[i].estado == "activo") {
                  btn_estado = `<i class="fas fa-toggle-on"  id_user="${data[i].id}" 
                                value="1" onClick="cambiarEstado(this)"></i>`;
                } else {
                  btn_estado = `<i class="fas fa-toggle-off"  id_user="${data[i].id}" 
                                value="0" onClick="cambiarEstado(this)"></i>`;
                }
                if (i % 2 == 0) {
                  color_tr = `<tr>`;
                } else {
                  color_tr = `<tr class="fila-w">`; //Colorear fila blanca
                }
                tbody.innerHTML += `
                  ${color_tr}
                    <td class="columna-1">
                      <i class="fas fa-user-circle img-tabla"></i>
                    </td>
                    <td class="columna-1">${data[i].id}</td>
                    <td class="columna-2">${data[i].nick}</td>
                    <td class="columna-3">${data[i].permisos}</td>
                    <td class="columna-4 iconos-opciones">
                      <i class="fas fa-pen" id="${data[i].id}" onClick="obtenerDatosUsuario(this)"></i>
                      ${btn_estado}
                    </td>
                  </tr>
                `;
              }
            }
          })
          .catch((error) => console.log(error));
      }
      function crearUsuario(id_accion) {
        let lname = document.getElementById("nombre").value;
        let fname = document.getElementById("apellido").value;
        let user = document.getElementById("usuario").value;
        let pass_1 = document.getElementById("contraseña_1").value;
        let pass_2 = document.getElementById("contraseña_2").value;
        let perm = document.getElementById("permisos").checked;
        if (
          lname != "" &&
          fname != "" &&
          user != "" &&
          pass_1 != "" &&
          pass_2 != ""
        ) {
          let flag_pass = comprobar(pass_1, pass_2);
          if (flag_pass != true) {
            //Contraseñas ingresadas iguales y largas
            if (perm == true) {
              perm = "00002";
            } else {
              perm = "00001";
            }
            let url = "/post-users";
            if (id_accion == "01") {
              //Crear usuario
              let json = JSON.stringify({ accion: "consultar_ultimo_id" });
              fetch(url, {
                method: "POST",
                headers: { "content-type": "application/json" },
                body: json,
              })
                .then((res) => res.text())
                .then((data) => {
                  let nuevo_id = ("0000" + (parseInt(data) + 1)).slice(-5);
                  if (nuevo_id != "") {
                    let nuevo_usuario = JSON.stringify({
                      id: nuevo_id,
                      permisos: perm,
                      nombre: lname,
                      apellido: fname,
                      nick: user,
                      contrasena: pass_1,
                      accion: "crear_usuario",
                    });
                    fetch(url, {
                      method: "POST",
                      headers: { "content-type": "application/json" },
                      body: nuevo_usuario,
                    })
                      .then((res) => res.text())
                      .then((data) => console.log(data))
                      .catch((error) => console.log(error));
                  }
                });
            } else {
              //Actualizar usuario
              let id_actualizar = document
                .querySelector("#input_actualizar")
                .getAttribute("id_usuario");
              let json = JSON.stringify({
                id: id_actualizar,
                permisos: perm,
                nombre: lname,
                apellido: fname,
                nick: user,
                contrasena: pass_1,
                accion: "actualizar_usuario",
              });
              fetch(url, {
                method: "POST",
                headers: { "content-type": "application/json" },
                body: json,
              })
                .then((res) => res.text())
                .then((data) => console.log(data))
                .catch((error) => console.log(error));
            }
          }
        } else {
          alert("Campos vacíos!");
        }
      }
      function obtenerDatosUsuario(btn) {
        let id_a_consultar = btn.id;
        let url = "/post-users";
        let json = JSON.stringify({
          id: id_a_consultar,
          accion: "consultar_usuario",
        });
        fetch(url, {
          method: "POST",
          headers: { "content-type": "application/json" },
          body: json,
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
            document.getElementById("nombre").value = data[0].nombre;
            document.getElementById("apellido").value = data[0].apellido;
            document.getElementById("usuario").value = data[0].nick;
            if (data[0].permisos == "00002") {
              document.getElementById("permisos").checked = true;
            } else {
              document.getElementById("permisos").checked = false;
            }
            document
              .querySelector("#input_actualizar")
              .setAttribute("id_usuario", data[0].id);
          })
          .catch((error) => console.log(error));
      }
      function cambiarEstado(btn) {
        let id_cambiar = btn.getAttribute("id_user");
        let value = btn.getAttribute("value");
        let url = "/post-users";
        let json = JSON.stringify({
          id: id_cambiar,
          estado: value,
          accion: "cambiar_estado_usuario",
        });
        fetch(url, {
          method: "POST",
          headers: { "content-type": "application/json" },
          body: json,
        })
          .then((res) => res.text())
          .then((data) => console.log(data))
          .catch((error) => console.log(error));
        
        //Recargar la página
        setTimeout(window.location.reload(), 5000);
      }
    </script>
  </body>
</html>
