<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RH - Ayuda</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.png">
    <link rel="stylesheet" href="../css/ayuda.css" />
  </head>
  <body class="body d_flex f_d_column">
    <main class="main d_flex j_c_center a_i_center">
      <div class="container-todito d-flex">
        <img src="../img/logo.svg" alt="LOGO" class="logo" />
        <div class="container-border">
          <h3 class="titulo-p">Preguntas frecuentes</h3>
          <div class="container-nav" id="container-nav">
            <nav>
              <ul>
                <li class="list">
                  <div class="list-div d-flex a_i_center">
                    <a href="#">Pregunta 1</a><i class="fas fa-sort-down"></i>
                  </div>
                  <p class="descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas odio quae quis expedita <br />
                    nostrum eos nobis, nihil explicabo cum sequi facilis
                    corrupti doloremque, obcaecati <br />
                    alias ipsam distinctio. Architecto, modi! Impedit.
                  </p>
                </li>
                <li class="list">
                  <div class="list-div d-flex a_i_center">
                    <a href="#">Pregunta 2</a><i class="fas fa-sort-down"></i>
                  </div>
                  <p class="descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas odio quae quis expedita <br />
                    nostrum eos nobis, nihil explicabo cum sequi facilis
                    corrupti doloremque, obcaecati <br />
                    alias ipsam distinctio. Architecto, modi! Impedit.
                  </p>
                </li>
                <li class="list">
                  <div class="list-div d-flex a_i_center">
                    <a href="#">Pregunta 3</a><i class="fas fa-sort-down"></i>
                  </div>
                  <p class="descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas odio quae quis expedita <br />
                    nostrum eos nobis, nihil explicabo cum sequi facilis
                    corrupti doloremque, obcaecati <br />
                    alias ipsam distinctio. Architecto, modi! Impedit.
                  </p>
                </li>
                <li class="list">
                  <div class="list-div d-flex a_i_center">
                    <a href="#">Pregunta 4</a><i class="fas fa-sort-down"></i>
                  </div>
                  <p class="descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas odio quae quis expedita <br />
                    nostrum eos nobis, nihil explicabo cum sequi facilis
                    corrupti doloremque, obcaecati <br />
                    alias ipsam distinctio. Architecto, modi! Impedit.
                  </p>
                </li>
                <li class="list">
                  <div class="list-div d-flex a_i_center">
                    <a href="#">Pregunta 5</a><i class="fas fa-sort-down"></i>
                  </div>
                  <p class="descripcion">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quas odio quae quis expedita <br />
                    nostrum eos nobis, nihil explicabo cum sequi facilis
                    corrupti doloremque, obcaecati <br />
                    alias ipsam distinctio. Architecto, modi! Impedit.
                  </p>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
    <%- include("../templates/Footer") %>
    <script type="text/javascript" src="../js/ayuda.js"></script>
  </body>
</html>
