<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RH - Sobre Nosotros</title>
    <link rel="stylesheet" href="../css/sobre nosotros.css" />
  </head>
  <body class="body d_flex f_d_column">
    <main class="main d_flex f_d_column a_i_center">
      <img src="../img/logo.svg" alt="LOGO" class="logo" />
      <div class="info_text">
        <h1 class="titulo-pagina">Sobre nosotros</h1>
        <p>
          lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu.
        </p>
      </div>
      <div class="container_general d-flex j_c_center">
        <div class="info_persona_container">
          <div class="img_container d-flex j_c_center">
            <img src="../img/user.jpg" alt="persona_1" />
          </div>
          <div class="nombre_persona_container d-flex">
            <p class="nombre_persona d-flex j_c_center">Nombre Apellido</p>
          </div>
          <div class="redes_sociales_container">
            <ul class="lista_redes d-flex">
              <li class="enlace_redes">
                <a href="https://www.facebook.com/">
                  <i class="fab fa-facebook-f icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://github.com/">
                  <i class="fab fa-github icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://gitlab.com/">
                  <i class="fab fa-gitlab icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://www.youtube.com/">
                  <i class="fab fa-youtube icono_elace"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="info_persona_container">
          <div class="img_container d-flex j_c_center">
            <img src="../img/user.jpg" alt="persona_1" />
          </div>
          <div class="nombre_persona_container d-flex">
            <p class="nombre_persona d-flex j_c_center">Nombre Apellido</p>
          </div>
          <div class="redes_sociales_container">
            <ul class="lista_redes d-flex">
              <li class="enlace_redes">
                <a href="https://www.facebook.com/">
                  <i class="fab fa-facebook-f icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://github.com/">
                  <i class="fab fa-github icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://gitlab.com/">
                  <i class="fab fa-gitlab icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://www.youtube.com/">
                  <i class="fab fa-youtube icono_elace"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="info_persona_container">
          <div class="img_container d-flex j_c_center">
            <img src="../img/user.jpg" alt="persona_1" />
          </div>
          <div class="nombre_persona_container d-flex">
            <p class="nombre_persona d-flex j_c_center">Nombre Apellido</p>
          </div>
          <div class="redes_sociales_container">
            <ul class="lista_redes d-flex">
              <li class="enlace_redes">
                <a href="https://www.facebook.com/">
                  <i class="fab fa-facebook-f icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://github.com/">
                  <i class="fab fa-github icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://gitlab.com/">
                  <i class="fab fa-gitlab icono_elace"></i>
                </a>
              </li>
              <li class="enlace_redes">
                <a href="https://www.youtube.com/">
                  <i class="fab fa-youtube icono_elace"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="mapa">
          <p>Mapa</p>
        </div>
        </div>
      </div>
    </main>
    <%- include("../templates/Footer") %>
  </body>
</html>
