<!-- CSS -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="../css/generales.css" />
<link rel="stylesheet" href="./css/footer.css" />
<!-- Footer -->
<footer class="footer d_flex f_d_column j_c_center">
  <ul class="ul_footer d_flex">
    <li class="enlace_container enlace_1 b_radius">
      <a href="/">
        <i class="fas fa-home enlace_icono"></i>
        <span class="enlace_titulo">Inicio</span>
      </a>
    </li>
    <li class="enlace_container enlace_2 b_radius">
      <a href="/terminos-y-condiciones">
        <i class="fas fa-file-alt enlace_icono"></i>
        <span class="enlace_titulo">Términos y condiciones</span>
      </a>
    </li>
    <li class="enlace_container enlace_3 b_radius">
      <a href="/contactanos">
        <i class="fas fa-address-book enlace_icono"></i>
        <span class="enlace_titulo">Contáctanos</span>
      </a>
    </li>
    <li class="enlace_container enlace_4 b_radius">
      <a href="/sobre-nosotros">
        <i class="fas fa-users enlace_icono"></i>
        <span class="enlace_titulo">Sobre nosotros</span>
      </a>
    </li>
    <li class="enlace_container enlace_5 b_radius">
      <a href="/ayuda">
        <i class="fas fa-question-circle enlace_icono"></i>
        <span class="enlace_titulo">Ayuda</span>
      </a>
    </li>
  </ul>
</footer>
