<!-- CSS -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="../css/generales.css">
<link rel="stylesheet" href="../css/menu.css">
<!-- Menú -->
<div class="menu_container d_flex f_d_column a_i_center">
  <span class="titulo_menu">Menú</span>
  <ul class="ul_menu d_flex f_d_column">
    <li class="enlace_container link_1 b_radius">
      <a href="/empleados" class="enlace">
        <i class="fas fa-address-card icono_enlace"></i>
        <strong class="titulo_enlace">Empleados</strong>
      </a>
    </li>
    <li class="enlace_container link_2 b_radius">
      <a href="/formularios" class="enlace">
        <i class="fas fa-list-alt icono_enlace"></i>
        <strong class="titulo_enlace">Formulario</strong>
      </a>
    </li>
    <li class="enlace_container link_3 b_radius">
      <a href="/solicitudes" class="enlace">
        <i class="fas fa-id-badge icono_enlace"></i>
        <strong class="titulo_enlace">Solicitudes</strong>
      </a>
    </li>
    <li class="enlace_container link_4 b_radius">
      <a href="/reportes" class="enlace">
        <i class="fas fa-chart-line icono_enlace"></i>
        <strong class="titulo_enlace">Reportes</strong>
      </a>
    </li>
    <li class="enlace_container link_5 b_radius">
      <a href="/configuraciones" class="enlace">
        <i class="fas fa-cogs icono_enlace"></i>
        <strong class="titulo_enlace">Configuraciones</strong>
      </a>
    </li>
    <li class="enlace_container link_6 b_radius">
      <a href="/usuarios" class="enlace">
        <i class="fas fa-users icono_enlace"></i>
        <strong class="titulo_enlace">Usuarios</strong>
      </a>
    </li>
  </ul>
</div>
